* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Adicionar uma fonte depois*/

/*=======Barra de navegação=======*/

.navBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 44px;
   background-color: #f4f4f4;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   height: 60px; /* altura fixa opcional */
}

.div1, .div2 {
  display: flex;
  align-items: center;
}

body{
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit; 
}

.Item {
  display: block;                 /* Faz o link ocupar o bloco todo */
  padding: 18px 20px;             /* Aumenta área clicável */
  text-decoration: none;          /* Tira o sublinhado */
  color: #000;                    /* Cor do texto */
  transition: background-color 0.2s ease; /* Animação suave */
  cursor: pointer;
}

.Item:hover {
  background-color: #e0e0e0;      /* Fica levemente mais escuro */
}